* {
    font-family: "Helvetica";
}

html, body {
    width: 100%;
    height: 100%;

    padding: 0px;
    margin: 0px;

    overflow-y: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

body.loading * {
    cursor: wait !important;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
    margin-top: 4px;
    margin-bottom: 4px;

    width: 100%;

    border: none;
    background-color: darkgray;
    height: 1px;
}

input, textarea {
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
    background: inherit;
}

a ,a:link, a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

*:focus {
    outline: none;
}

.flex {
    display: flex !important;
}

.hidden {
    display: none !important;
}

.icon {
    max-width: 32px;
    max-height: 32px;
}

/**********
 * Header *
 **********/

.header-container{
    border-bottom: 1px solid #4B0082;

    min-width: 100%;
    height: 50px;
    flex-shrink: 0;
    flex-grow: 1;

    background-image: linear-gradient(to left, rgba(0,0,255,0.2), rgba(0,0,255,0.5));

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.header-box {
     margin-left: 10px;

     padding-top: 5px;
     padding-bottom: 5px;

     display: flex;
     flex-direction: column;
}

.header-box.logo {
    cursor: pointer;
}

.header-box.logo img {
     height: 40px;
     width: auto;
}


/********
 * Main *
 ********/

.main-container {
    width: 100%;
    height: 100%;
    margin-left: 20px;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
