table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;


}

td, th {
    border: 2px solid black;
    text-align: left;
    padding: 8px;
    overflow-y: auto;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

thead {
    background-color:  #80bfff;
}

#myInput {
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    background: #F0F8FF;
}

#double-scroll {

    width: 400px;


}
