table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #F0F8FF;
}

#myInput {
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    background: #F0F8FF;
}
